<launch>
	<arg name="kinect_room" default="false"/>
	<!-- creates 2 transforms :
		world -> base_link
		base_link -> camera_link
		camera_link is the parent frame of all of the frames published by openni_launch-->
	<group if="$(arg kinect_room)">
		<node pkg="tf" type="static_transform_publisher" name="world_base_link_broadcaster" args="-1 0 0 0 0 0 world base_link 100" />
		<node pkg="tf" type="static_transform_publisher" name="base_camera_link_broadcaster" args="0 0 2.8 0 0.8 0 base_link camera_link 100" />
	</group>
	<group unless="$(arg kinect_room)">
		<node pkg="tf" type="static_transform_publisher" name="world_base_link_broadcaster" args="-1 0 0 0 0 0 world base_link 100" />
		<node pkg="tf" type="static_transform_publisher" name="base_camera_link_broadcaster" args="0 0 1.1 0 0.3 0 base_link camera_link 100" />
	</group>
</launch>
